<app-layout-admin>
    <app-content *ngIf="module$ | async as module">
        <h3 *ngIf="module.name" class="title-with-icon">{{module.name}}
            <button *ngIf="isCompleted" mat-raised-button color="primary" class="float-right btn-icon" (click)="markAsComplete(false)">
                Completed
            </button>
            <button *ngIf="!isCompleted" mat-raised-button color="basic" class="float-right btn-icon" (click)="markAsComplete(true)">
                Mark as Complete
            </button>
        </h3>
        <div *ngIf="module.author">by {{module.author}}</div>
        <div *ngIf="module.id">{{module.dateCreated | date}}</div>
        <div class="ql-snow">
            <div [innerHtml]="module.description" class="module-content ql-editor"></div>
        </div>
    </app-content>
</app-layout-admin>