<mat-toolbar class="navbar">
    <mat-toolbar-row>
        <a [routerLink]="''" class="company">E-learning Platform</a>
        <div class="links">
            <div *ngIf="currentUser">
                <span class="example-spacer"></span>
                <a mat-button [routerLink]="'/auth/login'">Logout</a>
            </div>
            <div *ngIf="!currentUser">
                <span class="example-spacer"></span>
                <a [routerLink]="'/auth/login'">Login</a>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
